.SectionPost{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: stretch;
  box-shadow: 0 0 0 2px #4B93F2, 0 0 0 4px #9FC3F2;
  border-radius: 0.5rem;
  padding: 1rem;
}
.preview{
  border-radius: 1rem;
  width: 100%; 
  height: 100%;
  background-size: cover;
  background-position: center center;
  min-height: 20rem;
}

.ContainerPreview{
  width: 100%;
  min-height: 20rem;
}
.Files{
  margin: 0.5rem 0rem 1rem;
  cursor: pointer;
}
.previewUndefined{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 20rem;
  font-size: 1rem;
  font-family: Inter, system-ui, sans-serif;
  color: #777;
}
@media(max-width: 600px){
  .SectionPost{
    display: block;
  }
  .ContainerPreview{
    display: none;
  }
}
