.Wrapper{
  font-family: Inter, Georgia, 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 40rem;
  max-width: 0 auto;
  box-sizing: border-box;
}
@media (max-width: 600px){
  .Wrapper{
    padding: 2rem 2rem;
  }
}
.Input{
  width: 100%;
  max-width: 100%;
}

.FormCreateAccount {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem; 
}
.FormLogin {
  display: flex;
  flex-direction: column; 
  align-items: center;   
  justify-content: flex-start;
  gap: 2rem;              
}
.containerBtnActions{
  width: 100%;
  justify-content: center;
}

.ActionCreateAccont{
  margin-top:1rem;
  border-top: 1px solid #333;
  width: 100%;
}
.SectionPost{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: stretch;
 box-shadow: 0 0 0 2px #4B93F2, 0 0 0 4px #9FC3F2;
  border-radius: 0.5rem;
  padding: 1rem;
}
.preview{
  border-radius: 1rem;
  height: 100%; 
  background-size: cover;
  background-position: center center;
}

.ContainerPreview{
  width: 100%;
  height: 100%;
}
.Files{
  margin-bottom: 1rem;
}
.previewUndefined{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  font-family: Inter, system-ui, sans-serif;
  color: #777;
}


