.Header{
  display: grid;
  border-radius: 0.5rem;
  grid-template-columns: 1fr auto;
  padding: 0 0.5rem;
}
.Nav{
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  gap:1rem;
}

.Nav a:hover:not(:disabled),
.Nav a:focus:not(:disabled),
.Nav a:global(.active){
  box-shadow: 0 0 0 2px #4B93F2, 0 0 0 3px #9FC3F2;
  background: #155DBF;
  border-radius: 0.5rem;
  transition: 0.3s;
}
.Nav a:hover:not(:disabled) svg > *,
.Nav a:focus:not(:disabled) svg > *,
.Nav a:global(.active) svg > * {
  fill: #fff;
}
.Nav a{
  display: flex;
  justify-content: center;
  align-items: center;
}