.authorExternal{
  color:#fff;
  margin-left: 1rem;
}
.userIcon{
  display: flex;
  border: 2px solid #fff;
  padding: 0.5rem;
  width:2.5rem ;
  height: 2.5rem;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.userPost{
  display: flex;
  align-items: center;
  border-radius: 1rem;
  width: 100%;
}
.userPost svg > *{
  fill: #fff;
}
