.Login{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
}
.Login::before{
  content: "";
  background: url('../Assets/login.jpg') no-repeat center center / cover;
}

@media (max-width:600px){
  .Login{
    grid-template-columns: 1fr;
  }
}
