.Login {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  padding-top: 2rem;
}

.LoginImage {
  background: url('../Assets/login.jpg') no-repeat center center;
  background-size: cover;
}

.LoginForm {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width:600px){
  .Login{
    grid-template-columns: 1fr;
  }
}
