.SectionPost{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 2rem;
  border-radius: 1rem;
}
.SectionPost form{
  border-radius: 1rem;
  box-shadow: 0 5px 10px rgba(0,0,0,.8);
  padding: 1rem;
  background: rgba(255,255,255,.4)
}
.preview{
  border-radius: 1rem;
  width: 100%; 
  height: 100%;
  background-size: cover;
  background-position: center center;
  min-height: 20rem;
}

.ContainerPreview{
  width: 100%;
  min-height: 20rem;
  border-radius: 1rem;
  box-shadow: 0 5px 10px rgba(0,0,0,.8);
  background: rgba(255,255,255,.4)
}
.Files{
  margin: 0.5rem 0rem 1rem;
  cursor: pointer;
}
.previewUndefined{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 20rem;
  font-size: 1rem;
  font-family: Inter, system-ui, sans-serif;
  color: #777;
}
@media(max-width: 600px){
  .SectionPost{
    display: block;
  }
  .ContainerPreview{
    display: none;
  }
}
