.modal {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 0.5rem;
  box-shadow: 0 0 0 3px #9FC3F2, 0 0 0 10px  rgba(255, 255, 255, 0.4);
  padding: 2rem;

}
@media (max-width: 40rem) {
  .modal{
    padding:2rem calc(2rem + 15px) 2rem 2rem;
  }
}

.modal p{
  font-size: 1rem;
  color:  #f7f7f7;
}
.icon{
  display: flex;
  align-items: center;
  justify-content: center;
}
.actions{
  padding: 1rem;
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.overlay {
  position: fixed;
  inset: 0;
 background: rgba(0, 0, 0, 0.60);
  display: flex;
  align-items: center;
  justify-content: center;
}