.form{
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.5rem;
  border-top: 0.5px solid #999;
}
.form label{
  font-family: Inter, Georgia, 'Times New Roman', Times, serif;
  color:#333;
}
.actions{
  display: flex;
  align-items: stretch;
  align-items: center;
  height: 3rem;
  gap:1rem;
}
.actions textarea{
  border-radius: 0.5rem;
  resize: none;
  height: 100%;
  width: 80%;
  padding: 0.5rem;
}

.textArea:hover,
.textArea:focus{
  outline: none;
  box-shadow:  0 0 0 2px #155DBF;
  
}
.textArea{
  transition: .4s;
}
.button{
  margin-left: 0 1rem;
  display: flex;
  justify-content:  center;
  align-items: center;
  height: 100%;
  transition: 0.5s;
}
.actions svg  > *,
.actions svg  path  {
  fill:#fff;
  stroke: #fff;
}
