.comments{
  overflow-y: auto;
  word-break: break-word;
  padding: 0rem 1rem 0.5rem 1rem;
  line-height: 1.2;
}

.userIcon svg > *{
  fill:#777;
}
.userIcon{
  border: 1px solid #777;
  width: 1.7rem;
  height: 1.7rem;
  padding: 0.3rem;
  border-radius: 50%;
  text-align: center;
}
.date{
  font-size: 0.6rem;
  display: flex;
  color:#555;
}
.content{
  display: flex;
  align-items: center;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid #999;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  transition: 0.4s;
}
.content:hover,
.content:focus{
  box-shadow:  0 0 0 2px #155DBF;
}
.information{
  margin-left: 0.2rem
}
.information b{
  color: #333;
  font-family: Inter, Georgia, 'Times New Roman', Times, serif;
}