.photo{
  margin: auto;
  height: 36rem;
  border-radius: 0.5rem;
  background: #fff;
  display: grid;
  grid-template-columns: 36rem 20rem;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
}
.details{
  padding: 2rem 2rem 0 2rem;
  border-bottom: 0.5px solid #999;
}
.img{
  grid-row: 1/4;
}
.comments{
  padding: 0 2rem ;
}
@media (max-width:64rem){
  .photo{
    height: auto;
    max-height: calc(100vh - 4rem);
    overflow-y: auto;
    grid-template-columns: minmax(20rem, 40rem);
  }
  .img{
    grid-row: 1;
  }
}
.author{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.author a{
  color: #333;
}
.visualization::before{
  content: '';
  width: 16px;
  height: 10px;
  margin-right: 0.5rem;
  display: inline-block;
  background: url('../Assets/visualizacao-black.svg');

}
.attributes{
  display: flex;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.attributes li{
  margin-right: 2rem;
}
.titleName{
  color:#333;
}
