*{
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: #333;
}
body{
  margin: 0px;
  padding-top: 1rem;
  font-family: Inter, Georgia, 'Times New Roman', Times, serif;
}
li, ul{
  list-style: none;
  padding: 0px;
}
img {
  display: block;
  max-width: 100%;
}
.container {
  padding: calc(3.5rem + 1rem) 1rem 3rem;
  margin: 0 auto;
}
.Title{
  font-family: 'Montserrat Alternates', cursive;;
  font-size: 2rem;
  color:#111;
  display: flex;
  padding: 0px;
}
.formContent {
  width: 100%;
  max-width: 30rem;
  justify-content: center;
}
.FormBox {
  width: 100%;
  max-width: 30rem;
  min-height: 28rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
